body {
  background-color: rgba(100, 168, 94, 0.5);
}

.list-group-item {
  background-color: rgba(100, 168, 94, 0.5);
}

#bg-div {
  background-image: url(../public/img/carousel-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.smoothed {
  border-radius: 2%;
}

.carousel-img {
  width: 80%;
  margin: auto;
  padding: 2em;
}

.card-group {
  border-radius: 1%;
}

.card {
  background-color: rgb(204, 228, 212);
}

.flashcard {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.flashcard.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.nonchalant {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
}